html
  head
    title= title
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/css/iziToast.min.css')
  body
    div(style='padding:100px 0;')
      center
        div(id='main-content' style='font-size:24px;')=message
        div(id='players' style='display:none;')
        div(id='msg' style=msgStyle)
        input(id='name' type='text' placeholder='Enter a nickname')
        br
        br
        input(id='game-id' type='text' placeholder='Enter Game ID')
        button(type='button' id='join-btn' onclick='things.joinGame();') Join
        br
        br
        div(id='or')
          p or
        br
        button(type='button' id='new-btn' onclick='things.newGame()') New Game
  footer
    script(type='text/javascript' src='./bundle.js')
    