input(id='name' type='text' placeholder='Enter a nickname')
br
br
input(id='game-id' type='text' placeholder='Enter Game ID')
button(type='button' id='join-btn' onclick='things.joinGame();') Join
br
br
div(id='or')
p or
br
button(type='button' id='new-btn' onclick='things.newGame()') New Game